<h1>New Conversation?</h1>
 <%= link_to "Send Message", "#", class: "btn btn-success btn-xs start-conversation",
"data-sid" => @current_user.id, "data-rip" => @other_user.id %> 
<div id="left-col">
	<h2>Ask a sexpert</h2>
	<div id="conversation">
		<%= render @conversation.messages %>
	</div>
	
</div>
<div id="right-col">
	<div id="convo-input">
		<h4>Let's Hookup with Another Question</h4>
		<div id="message-form">
			<%= form_for [@conversation, Message.new], remote: true do |f| %>
			  <%= f.text_area :body, placeholder: "Ask about relationships, STI's, etc." %>
			  <%= f.hidden_field :user_id, value: @current_user.id %>
			  <%= f.hidden_field :conversation_id, value: @conversation.id %>
			  <%= f.submit "Send", id: "send-btn" %>
			<% end %>
		</div>
	</div>
</div>


<%= subscribe_to conversation_path(@conversation) %> 
