<div id="left-col" class="col-md-8">
	<h1><strong>Ask a sexpert</strong></h1>
	<div id="conversation">
		<%= render @conversation.messages %>
	</div>
	
</div>
<div id="right-col" class="col-md-4">
	<div id="convo-input">
		<h4>Let's Hookup with Another Question</h4>
		<div id="message-form">
			<%= form_for [@conversation, Message.new], remote: true do |f| %>
			  <%= f.text_area :body, placeholder: "Ask about relationships, STI's, etc." %>
			  <%= f.hidden_field :user_id, value: @current_user.id %>
			  <%= f.hidden_field :conversation_id, value: @conversation.id %>
			  <%= f.submit "Send", id: "send-btn" %>
			<% end %>
		</div>
	</div>
</div>


<%= subscribe_to "/conversations/new" %>
